@charset "ISO-8859-1";

/* Centra el contenido del div content*/

.content {
  max-width: 800px;
  margin: auto;
}

/* Cambia fuente y color de fondo del body */
body{
	font-family: "Calibri", "Arial", "Times New Roman";
	color: white;
	background-color: black;
	margin-top:50px;	
}

fieldset{
	color:white;
	
}