<%- include('./partials/header.ejs') %>

    <body>
        <div class="cover">
            <h1>Not Found <small>404</small></h1>
            <p>El contenido solicitado no se encuentra en este servidor.</p>
        </div>
        <footer>
            <p>Working..</p>
        </footer>
    </body>

    <%- include('./partials/footer.ejs') %>