<%- include('./partials/header.ejs') %>

    <body>
        <div class="container">
            <h1>Página Home</h1>
            <p>This is just a hello world sample page.</p>
            <div>
                <img src="resources/img/pic1.jpg" width="330" />
            </div>
        </div>

    </body>

    <%- include('./partials/footer.ejs') %>