<header>
  include ./partials/encabezado
</header>

<body>
  <div class="container mt-3">
    <div class="jumbotron">
      <h1 style="color: blue">Vista de Productos [PUG]</h1>
      <br />
      include ./partials/tabla.pug
    </div>
    <form action="/" method="get">
      <button class="btn btn-success mt-3 mb-5">Volver</button>
    </form>
  </div>
</body>
include ./partials/pie